@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Variable.woff2') format('woff2-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap
}